---
import { Image } from "astro:assets";

const { page } = Astro.props as any;
const images = page.data;
const column1 = { images: [] as any[], height: 0 };
const column2 = { images: [] as any[], height: 0 };

for (const image of images) {
	const selectedColumn = column2.height >= column1.height ? column1 : column2;
	selectedColumn.images.push(image);
	selectedColumn.height += image.data.src.height;
}
---

<div class="w-full mb-20">
	<div class="flex flex-row gap-10">
		<div class="flex flex-col gap-10">
			{
				column1.images.map((image: any) => (
					<a href={`../${image.slug}/`}>
						<Image
							widths={[360, 720, 1024, 1920]}
							sizes="(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1024px) 1024px, (max-width: 1920px) 1920px"
							src={image.data.src}
							alt={image.data.title}
						/>
					</a>
				))
			}
		</div>
		<div class="flex flex-col gap-10">
			{
				column2.images.map((image: any) => (
					<a href={`../${image.slug}/`}>
						<Image
							widths={[360, 720, 1024, 1920]}
							sizes="(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1024px) 1024px, (max-width: 1920px) 1920px"
							src={image.data.src}
							alt={image.data.title}
						/>
					</a>
				))
			}
		</div>
	</div>
</div>
<div class="fixed bottom-4 left-0 right-0 flex justify-center w-full">
	<div transition:animate="none" class="join bg-base-200">
		{
			page.currentPage > 1 && (
				<a href={page.url.prev}>
					<button class="join-item btn">«</button>
				</a>
			)
		}
		<button class="join-item btn">Seite {page.currentPage}</button>
		{
			page.currentPage != page.lastPage && (
				<a href={page.url.next}>
					{" "}
					<button class="join-item btn">»</button>
				</a>
			)
		}
	</div>
</div>