---
import { Image } from "astro:assets";

const { page } = Astro.props as any;
const images = page.data;
---

<div class="w-full -ml-[0px] -mr-[20px]">
	<div class="w-full magic-grid">
		{
			images.map((image: any) => (
				<div class="magic-grid-item">
					<a href={`/image/${image.slug}/`}>
						<Image
							widths={[360, 720, 1024, 1920]}
							sizes="(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1024px) 1024px, (max-width: 1920px) 1920px"
							src={image.data.src}
							alt={image.data.title}
						/>
					</a>
				</div>
			))
		}
	</div>
	<div class="sticky bottom-0 h-16 -mb-56 flex justify-center w-full my-8">
		<div transition:animate="none" class="join">
			{
				page.currentPage > 1 && (
					<a
						href={page.url.prev}
					>
						<button class="join-item btn">«</button>
					</a>
				)
			}
			<button class="join-item btn">Seite {page.currentPage}</button>
			{
				page.currentPage != page.lastPage && (
					<a
					href={page.url.next}
					>
						{" "}
						<button class="join-item btn">»</button>
					</a>
				)
			}
		</div>
	</div>
</div>

<script>
	import MagicGrid from "magic-grid";
	init();

	document.addEventListener("astro:after-swap", () => {
		init(window.scrollY);
	});

	function init(scrollY: number = 0) {
		const container = document.querySelector(".magic-grid");
		if (container != null) {
			let magicGrid = new MagicGrid({
				container: ".magic-grid",
				animate: false,
				gutter: 40,
				static: true,
				useMin: true,
			});

			magicGrid.listen();

			if (scrollY) {
				window.scrollTo(0, scrollY);
			}
		}
	}
</script>
<style>
	.magic-grid-item {
		width: calc(50% - 40px);
	}
</style>
